/* Reset basic layout */
body {
  margin: 0;
  font-family: Times New Roman, Helvetica, sans-serif;
  background: #f5f6fa;
}

/* Root container full width */
#root {
  max-width: 100%;
  margin: 0;
  padding: 0;
  text-align: left;
}

/* Cards (dashboard) */
.card {
  flex: 1 1 250px;
  min-width: 220px;
  background: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.08);
  color: black;
}

/* Sidebar */
.sidebar {
  width: 240px;
  background: #111827;
  color: white;
  height: 100vh;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.logoText {
  margin-bottom: 20px;
}

.balanceCard {
  background: linear-gradient(135deg, #4f46e5, #3b82f6);
  padding: 15px;
  border-radius: 12px;
  margin-bottom: 20px;
}

.menu {
  list-style: none;
  padding: 0;
}

.menu li {
  padding: 10px 12px;
  border-radius: 8px;
  cursor: pointer;
  margin-bottom: 6px;
  transition: 0.2s;
}

.menu li:hover {
  background: #1f2937;
}

.menu li.active {
  background: #3b82f6;
}

.bottomMenu {
  border-top: 1px solid #374151;
  padding-top: 15px;
}

.bottomMenu div {
  padding: 10px 12px;
  border-radius: 8px;
  margin-bottom: 6px;
  cursor: pointer;
  transition: 0.2s;
}

.bottomMenu div:hover {
  background: #1f2937;
}

